<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PWParallaxScrollView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>PWParallaxScrollView_ObjCUseSwift.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F431D36F1C65DE07009F5851</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F431D3901C65DE7E009F5851</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F497D91817DC93EF007DE2EC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
